*.swp
.vim/bundle/L9/
.vim/bundle/Vundle.vim/ 
.vim/bundle/YouCompleteMe/
.vim/bundle/sparkup/
.vim/bundle/taglist.vim/
.vim/bundle/tlib_vim/ 
.vim/bundle/vim-addon-mw-utils/
.vim/bundle/vim-fugitive/
.vim/bundle/vim-snipmate/
.vim/bundle/vim-snippets/
.vim/bundle/Vundle.vim/
.vim/bundle/Command-T/
.vim/bundle/tlib_vim/
